<h1>Welcome!</h1>

<% @user.errors.full_messages.each do |msg| %>
  <li class="error"><%= msg %></li>
<% end %>
<%= form_for @user, url: register_path do |f| %>
  <div class="">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="">
    <%= f.submit %> or <%= link_to 'Log In', login_path %>
  </div>
<% end %>
